body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

a,
button,
input,
select {
  pointer-events: auto;
}

#XRButtonWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 1rem;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: '1px solid #fff';
  border-radius: 5vh;
  border-color: white;
  align-items: center;
  justify-content: center;
  outline: none;
  opacity: 0.5;
}

.XRButton {
  color: white;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  flex-grow: 1;
  font: 'normal sans-serif';
  font-size: 5vh;
  width: 100%;
  cursor: pointer;
  border-radius: 3rem;
}

.XRButton:hover,
.XRButton:active {
  opacity: 1;
}
